<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScrypt for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Umriliteb Fortress</title>
</head>
<body class="#bdbdbd grey lighten-1">
    <header>
        <nav>
            <div class="nav-wrapper #424242 grey darken-3">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <h5 class="brand-logo">Umriliteb Fortress</h5>
                    <p class="grey-text text-lighten-4" style="font-size: 155%;">Goods for Determination and Industry</p>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'dfshop:home' %}">Home</a></li>
                    <li><a href="{% url 'dfshop:goods' %}">Goods</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'dfshop:dashboard' %}">{{user.username}}</a></li>
                      <li><a href="{% url 'dfshop:cart' %}">Cart</a></li>
                      <li><a href="{% url 'dfshop:logout' %}">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'dfshop:login_url' %}">Login</a></li>
                      <li><a href="{% url 'dfshop:cart' %}">Cart</a></li>
                      <li><a href="{% url 'dfshop:register_url' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
    <div class="container">
    {% block content %}
    <p>Latest fortress news</p>
    <p>Most popular goods</p>
    {% endblock %}
    </div>
    </main>
    <footer class="page-footer #212121 grey darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Umriliteb Fortress</h5>
              <p class="grey-text text-lighten-4">Goods for Determination and Industry</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2022 Iron Forge Development
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
    </footer>
</body>
</html>