<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Depot</title>
</head>
<body>
    <header>
        <h1>Umriliteb Fortress</h1>
        <p>Goods for Determination and Industry</p>
    </header>
    <h3>Fortress Trade Depot</h3>
    {% if goods_list %}
    <p><b>Welcome sir or madam. Do you wish to purchase something?</b></p>
    <table>
        <thead>
            <tr>
                <td>Category</td>
                <td>Material</td>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
            {% for good in goods_list %}
            <tr>                
                <td>{{ good.category }}</td>
                <td>{{ good.material }}</td>
                <td>{{ good.name }}</td>
                <td>{{ good.price }}</td>
                {% for st in stock %}
                    {% if st.id == good.id %}
                    <td>{{ st.quantityInStock }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </thead>
        {% else %}
        <p>No goods on trade depot. All dwarves have gone to the deep.</p>
        {% endif %}
    </table>
</body>
</html>